**/__pycache__/*
.idea/
exp1_exp2_picture
YOLO_交接
vrep/SAC_camera_version2/model/04212333
vrep/SAC_camera_version2/model/04240939
vrep/SAC_camera_version2/model/06221503
vrep/SAC_camera_version2/model/06230850
vrep/SAC_camera_version2/model/07082329
MyRobot交接.docx
vrep/SAC_camera_version_real_world/yolo_model/yolov3.weights

